<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Edit Restaurant Details</title>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Home Page</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div th:replace="admin/header :: header"></div>
</div>
<div class="container">
    <br>
    <div class="panel panel-default">
        <div class="panel-heading text-center"><h3>Edit restaurant details</h3></div>
    </div>
</div>
<br>
<div class="container">
    <div class=" col-lg-5  mx-auto">
        <form action="#" th:action="@{/editrestaurant}" name="form" id="form" class="form-horizontal"
              method="POST" th:object="${editrest}">
            <input type="hidden" th:field="${editrest.id}">
            <div class="input-group">
                <input type="text"
                       class="form-control"
                       th:field="${editrest.name}" readonly>
            </div>
            <br>
            <div class="input-group">
                <input id="address" type="text" class="form-control" name="address"
                       placeholder="Restaurant Address"
                       th:field="*{address}">
            </div>
            <p class="error-message"
               th:if="${#fields.hasErrors('address')}"
               th:errors="*{address}">Validation error</p>
            <br>
            <div class="input-group">
                <input id="phoneNumber" type="text" class="form-control" name="phoneNumber"
                       placeholder="Phone number"
                       th:field="*{phoneNumber}">
            </div>
            <p class="error-message"
               th:if="${#fields.hasErrors('phoneNumber')}"
               th:errors="*{phoneNumber}">Validation error</p>
            <br>
            <div class="input-group">
                <input id="menuUrl" type="text" class="form-control" name="menuUrl"
                       placeholder="Menu Url"
                       th:field="*{menuUrl}">

            </div>
            <p class="error-message"
               th:if="${#fields.hasErrors('menuUrl')}"
               th:errors="*{menuUrl}">Validation error</p>
            <br>
            <div class="input-group">
                <input id="deliveryTime" type="text" class="form-control" name="deliveryTime"
                       placeholder="deliveryTime"
                       th:field="*{deliveryTime}">
            </div>
            <p class="error-message"
               th:if="${#fields.hasErrors('deliveryTime')}"
               th:errors="*{deliveryTime}">Validation error</p>
            <br>
            <div class="input-group">
                <input id="deliveryInfo" type="text" class="form-control" name="deliveryInfo"
                       placeholder="deliveryInfo"
                       th:field="*{deliveryInfo}">
            </div>
            <p class="error-message"
               th:if="${#fields.hasErrors('deliveryInfo')}"
               th:errors="*{deliveryInfo}">Validation error</p>
            <br>
            <div class="input-group">
                <input id="additionalCharges" type="text" class="form-control" name="additionalCharges"
                       placeholder="additionalCharges"
                       th:field="*{additionalCharges}">
            </div>
            <p class="error-message"
               th:if="${#fields.hasErrors('additionalCharges')}"
               th:errors="*{additionalCharges}">Validation error</p>
            <br>
            <div class="col-lg-5" style="margin: auto;">
                <button type="submit" class="btn btn-primary">
                    Submit edit
                </button>

            </div>

        </form>
    </div>
</div>
<br>
<div class="container text-center">
    <div th:replace="fragments/footer :: footer"></div>
</div>
<div class="row col-lg-3 col-md-3"></div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>