<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div class="navbar navbar-inverse " th:fragment="header">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/home}">Munchies</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li th:if="${#authorization.expression('!isAuthenticated()')}">
                        <a href="#" th:href="@{/login}">
                            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp; Log in
                        </a>
                    </li>
                    <li>
                        <a href="#" th:href="@{/signup}">
                            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp; Sign up
                        </a>
                    </li>
                    <li th:if="${#authorization.expression('isAuthenticated()')}">
                        <a href="" th:href="@{/logout}" onclick="$('#form').submit();">
                            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout
                        </a>
                        <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
                    </li>
                </ul>
            </div>

</div>

</body>
</html>