<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>New group Order</title>
    <meta charset="UTF-8">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Home Page</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div sec:authorize="isAnonymous()">
            <div th:replace="fragments/header :: header"></div>
        </div>
        <div sec:authorize="isAuthenticated()">
            <div th:replace="admin/header :: header"></div>
        </div>

    </div>
</div>
<div class="container" th:object="${groupOrder.restaurant}">
    <div class="panel panel-default">
        <div class="panel-heading text-center">Restoran</div>
        <div class="panel-body text-center" >
            <h3>Porucujete iz restorana: </h3>
            <h1 th:utext="${groupOrder.restaurant.name}">Name</h1>
            <input type="hidden" th:value="${groupOrder.restaurant.restaurant_id}">
        </div>
    </div>
    <div class="row col-lg-5 col-md-5"></div>

    <div class="row col-lg-4 col-md-4 ">
        <form action="#" th:action="@{/createnewgrouporder}" name="form" id="form" class="form-horizontal"
              method="POST" th:object="${groupOrder}">
            <div class="input-group">
                <input id="creator" type="text" class="form-control" name="creator" value=""
                       placeholder="Group order creator"
                       th:field="*{creator}">
                <p class="error-message"
                   th:if="${#fields.hasErrors('creator')}"
                   th:errors="#{NotNull.groupOrder.creator}">Validation error</p>
            </div>
            <br>
            <div class="input-group">
                <input id="order_timeout" type="timeout" class="form-control" name="order_timeout"
                       placeholder="Order timeout"
                       th:field="*{order_timeout}">
                <p class="error-message"
                   th:if="${#fields.hasErrors('order_timeout')}"
                   th:errors="*{order_timeout}">Validation error</p>
            </div>
            <input type="hidden" th:field="${groupOrder.restaurant.restaurant_id}">
            <br>
            <div class="input-group-btn">
                <button type="submit" class="btn btn-primary">
                    Create new group order
                </button>

            </div>

        </form>
    </div>
    <div class="row col-lg-3 col-md-3"></div>


</div>
<div class="container ">
    <div class="row">
        <div th:replace="fragments/footer :: footer"></div>
    </div>
</div>

<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</body>
</html>