<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div class="container">

    <div class="card">
        <div class="card-header text-center">
            <h3>Ordered items: </h3>

        </div>
    </div>

    <table style="border:2px solid black;" id="orderItems">
        <thead>
        <tr scope="col" style="border:2px;">
            <td>Creator</td>
            <td>Order Item</td>
            <td>Item Price</td>
        </tr>
        </thead>
        <tbody style="border:2px;">
        <tr th:each="orderItem :  ${orders}">
            <td><p th:text="${orderItem.creator}"></p></td>
            <td><p th:text="${orderItem.name}"></p></td>
            <td><p th:text="${orderItem.price}"></p></td>
        </tr>
        </tbody>
    </table>
    <div class="col-lg-4"><h3>Total price: <span id="totalRow"></span> &nbsp; din</h3></div>

</div>


</body>
</html>