<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
</head>
<body>

<div style="width:100%; margin-right: 10px;">
    <h3>You ordered from: </h3>
    <h1 th:text="${order.getRestaurant().getName()}"></h1>
    <h3>Order # : </h3>
    <h3 th:text="${order.id}"></h3>
    <table style="border:1px solid black;" id="orderItems">
        <div>
            <h3>Ordered items: </h3>
        </div>
        <thead style="border:1px solid black;">
        <tr style="border:2px;">
            <td>Creator</td>
            <td>Order Item</td>
            <td>Item Price</td>
        </tr>
        </thead>
        <tbody style="border:1px solid black;">
        <tr th:each="orderItem :  ${orders}">
            <td><p th:text="${orderItem.creator}"></p></td>
            <td><p th:text="${orderItem.name}"></p></td>
            <td><p th:text="${orderItem.price}"></p></td>
        </tr>
        </tbody>
    </table>
    <div>
        <h3>Total price: <p th:text="${total}"></p> &nbsp; din</h3>
    </div>

</div>


</body>
</html>