<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!--<link rel="stylesheet" href="../static/css/styles.css"/>-->
</head>
<body>

<div class="container">
    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/home}">Munchies</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" th:href="@{/signup}">
                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp; Sign up
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>
<div class="container">
    <div class="col-lg-4 col-md-4"></div>
    <div class="col-lg-4 col-md-4">
        <br>
        <form action="#" th:action="@{/login}" name="form" id="form" class="form-horizontal"
              enctype="multipart/form-data" method="POST" th:object="${user}">

            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input id="email" type="text" class="form-control" name="email" value="" placeholder="E-mail address"
                       th:field="*{email}">
            </div>

            <br>


            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input id="password" type="password" class="form-control" name="password" placeholder="Password"
                       th:field="*{password}">
            </div>

            <br>

            <div class="form-group">
                <!-- Button -->
                <div class="col-sm-12 controls">
                    <button type="submit" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-log-in"></i>
                        Log in
                    </button>
                </div>
            </div>

        </form>
    </div>
    <div class="col-lg-4 col-md-4"></div>

</div>
<!--<form action="#" th:action="@{/login}" method="post" th:object="${user}">-->
<!--<label for="email">Email</label>-->
<!--<input type="text" id="email" name="email" th:field="*{email}"/> <br/>-->
<!--<label for="password">Password</label>-->
<!--<input type="password" id="password" name="password" th:field="*{password}"/> <br/>-->

<!--&lt;!&ndash;<div th:if="${err != null}" th:text="${err.toString()}">&ndash;&gt;-->

<!--</div>-->

<!--<input type="submit" value="Log in"/>-->
<!--</form>-->

</body>
</html>