<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--<link rel="stylesheet" type="text/css" th:href="@{../static/css/styles.css}"/>-->
</head>
<body>

<div class="container">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand nav-link" th:href="@{/home}">Munchies</a>
                <ul class="nav navbar-left navbar-nav" style="flex-direction: row; display: inline-flex;">
                    <li class="nav-item">
                        <a href="#" th:href="@{/getlistofactiveorders}" class="nav-link active">Active orders</a>
                    </li>
                </ul>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item"><a href="#" th:href="@{/signup}" class="nav-link"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Sign up</a></li>
            </ul>
        </div>
    </nav>

</div>
<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center text-white mb-4">Welcome to Munchies! </h2>
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card rounded-0">
                        <div class="card-header">
                            <h3 class="mb-0">Login</h3>
                        </div>
                        <div class="card-body">
                            <form class="needs-validation" method="POST" action="#" th:action="@{/login}"
                                  th:object="${newuser}" novalidate>
                                <div class="form-row">
                                    <div class="col-lg-12 mb-3">
                                        <label for="validationCustomEmail">E-mail</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroupPrepend">@</span>
                                            </div>
                                            <input type="text" class="form-control" id="validationCustomEmail"
                                                   placeholder="E-mail" aria-describedby="inputGroupPrepend"
                                                   th:field="*{email}" required>
                                            <div class="invalid-feedback">
                                                Please enter an email address.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-lg-12 mb-3">
                                        <label for="validationCustomPassword">Password</label>
                                        <div class="input-group">
                                            <input type="password" class="form-control" id="validationCustomPassword"
                                                   placeholder="Password" aria-describedby="inputGroupPrepend"
                                                   th:field="*{password}" required>
                                            <div class="invalid-feedback">
                                                Please enter your password.

                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-danger" style="margin: auto;"><p th:if="${error} != null"
                                                                                      th:text="${error}"></p></div>
                                </div>

                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input"
                                               id="defaultLoginFormRemember">
                                        <label class="custom-control-label" for="defaultLoginFormRemember">Remember
                                            me</label>
                                    </div>
                                </div>

                                <div class="col-lg-5" style="margin: auto;">
                                    <button type="submit" class="btn btn-primary btn-block " id="btnLogin">Login
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container ">
    <div th:replace="fragments/footer :: footer"></div>
</div>


<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>