<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Group orderItem</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div sec:authorize="isAnonymous()">
            <div th:replace="fragments/header :: header"></div>
        </div>
        <div sec:authorize="isAuthenticated()">
            <div th:replace="admin/header :: header"></div>
        </div>

    </div>
</div>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading text-center">Restoran</div>
        <div class="panel-body text-center" th:object="${grouporder}">
            <h3>Porucujete iz restorana: </h3>
            <h1 th:utext="${grouporder.restaurant.name}">Name</h1>
        </div>
    </div>
    <div class="row col-lg-4 col-md-4"></div>

    <div class="row col-lg-4 col-md-4 ">

            <div class="input-group">
                <!--<input type="text" class="form-control" name="orderUrl" th:value="${#httpServletRequest.requestURI}"
                       disabled/> -->

            </div>
            <br>
            <div class="input-group">
                <input type="text" class="form-control" name="creator"
                       th:field="${grouporder.creator}">
            </div>
            <br>
            <div class="input-group">
                <input type="text" class="form-control" name="restaurantname"
                       th:field="${grouporder.restaurant.name}">
            </div>
            <br>
            <div class="input-group">
                <input type="text" class="form-control" name="phonenumber"
                       th:field="${grouporder.restaurant.phoneNumber}">
            </div>
            <br>
            <div class="input-group">
                <input type="text" class="form-control" name="menuurl"
                       th:field="${grouporder.restaurant.menuUrl}">
            </div>
    </div>
    <div class="row col-lg-4 col-md-4"></div>
    <br>
    <div class="panel-body text-center">
        <form action="#" th:action="@{/newgrouporder}" name="form" id="form" class="form-horizontal"
              method="POST" th:object="${o}">
            <div class="input-group">
                <input type="text" class="form-control" name="orderCreator" value=""
                       placeholder="Order Creator"
                       th:field="*{creator}">
                <p class="error"
                   th:if="${#fields.hasErrors('orderCreator')}"
                   th:errors="${o.creator}">Validation error</p>
            </div>
            <br>
            <div class="input-group">
                <input type="text" class="form-control" name="orderItem" value=""
                       placeholder="Order Item"
                       th:field="*{name}">
                <p class="error"
                   th:if="${#fields.hasErrors('orderItem')}"
                   th:errors="${o.name}">Validation error</p>
            </div>
            <br>
            <div class="input-group">
                <input type="text" class="form-control" name="itemPrice" value=""
                       placeholder="Item price"
                       th:field="*{price}">
                <p class="error"
                   th:if="${#fields.hasErrors('itemPrice')}"
                   th:errors="${o.price}">Validation error</p>
            </div>
            <input type="hidden" th:field="${o.order.id}">

            <br>

            <br>
            <!---->
            <div class="form-group">
                <div class="col-sm-12 controls" th:if="${(#dates.createNow().before(grouporder.orderTimeout))}">
                    <button type="submit" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-log-in"></i>
                        Submit Order
                    </button>
                </div>
                <p th:if="${grouporder.orderTimeout.before(#dates.createNow())}">Group orderItem has expired</p>
                <div><p id="timer"></p></div>
            </div>

        </form>
    </div>

    <div class="row">
        <table class="table table-bordered" id="orderItems">
            <thead>
            <tr style="font-size: 13">
                <td>Creator</td>
                <td>Order Item</td>
                <td>Item Price</td>
            </tr>
            </thead>
            <tbody>
            <!--<tr th:each="orderItem :  ${orderItems}">-->
            <!--<td><p th:text="${orderItem.orderCreator}"></p></td>-->
            <!--<td><p th:text="${orderItem.orderItem}"></p></td>-->
            <!--<td><p th:text="${orderItem.itemPrice}"></p></td>-->
            <!--</tr>-->
            </tbody>
        </table>
    </div>
</div>
<div class="container ">
    <div class="row">
        <div th:replace="fragments/footer :: footer"></div>
    </div>
</div>
<script>

    var date = "[[${grouporder.order_timeout}]]";
    var endDate = new Date(date).getTime();
    var x = setInterval(function () {

        var now = new Date().getTime();


        var distance = endDate - now;

        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        document.getElementById("timer").innerHTML = minutes + "m " + seconds + "s ";


        if (distance < 0) {
            clearInterval(x);
            document.getElementById("timer").innerHTML = "EXPIRED";
        }
    }, 1000);
</script>


<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        var id = "[[${grouporder.group_order_id}]]";
        var refreshId = setInterval(function () {
            $.ajax({
                type: "GET",
                url: "api/getAjaxData/" + id,
                success: function (result) {
                    $('#orderItems tbody').empty();
                    $.each(result, function (i, orderItem) {
                        var orderItem = '<tr>' +
                            '<td>' + orderItem.creator + '</td>' +
                            '<td>' + orderItem.name + '</td>' +
                            '<td>' + orderItem.itemPrice + '</td>'
                        '</tr>';

                        $('#orderItems tbody').append(orderItem);

                    });
                },
                error: function (e) {
                    alert("ERROR: ", e);
                    console.log("ERROR: ", e);
                }
            });
        }, 2000);
    });
</script>


</body>
</html>