<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Group order</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div sec:authorize="isAnonymous()">
            <div th:replace="fragments/header :: header"></div>
        </div>
        <div sec:authorize="isAuthenticated()">
            <div th:replace="admin/header :: header"></div>
        </div>

    </div>
</div>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading text-center">Restoran</div>
        <div class="panel-body text-center" th:object="${grouporder}">
            <h3>Porucujete iz restorana: </h3>
            <h1 th:utext="${grouporder.restaurant.name}">Name</h1>
        </div>
    </div>
    <div class="row col-lg-4 col-md-4"></div>

    <div class="row col-lg-4 col-md-4 ">

            <div class="input-group">
                <!--<input type="text" class="form-control" name="orderUrl" th:value="${#httpServletRequest.requestURI}"
                       disabled/> -->

            </div>
            <br>
            <div class="input-group">
                <input type="text" class="form-control" name="creator"
                       th:field="${grouporder.creator}">
            </div>
            <br>
            <div class="input-group">
                <input type="text" class="form-control" name="restaurantname"
                       th:field="${grouporder.restaurant.name}">
            </div>
            <br>
            <div class="input-group">
                <input type="text" class="form-control" name="phonenumber"
                       th:field="${grouporder.restaurant.phoneNumber}">
            </div>
            <br>
            <div class="input-group">
                <input type="text" class="form-control" name="menuurl"
                       th:field="${grouporder.restaurant.menuURL}">
            </div>


        <!--<button onclick="postmessage();" >Button</button>-->

        <!--<script>-->
        <!--function postmessage() {-->
        <!--$.ajax({-->
        <!--method: 'POST',-->
        <!--data: {},-->
        <!--url: 'http://localhost:8080/suggested-events/vote'-->
        <!--});-->
        <!--}-->
        <!--</script>&ndash;&gt;-->
        <!--</form>-->
    </div>
    <div class="row col-lg-4 col-md-4"></div>
    <br>
    <div class="panel-body text-center">
        <form action="#" th:action="@{/newgrouporder}" name="form" id="form" class="form-horizontal"
              method="POST" th:object="${o}">
            <div class="input-group">
                <input type="text" class="form-control" name="orderCreator" value=""
                       placeholder="Order Creator"
                       th:field="*{orderCreator}">
                <p class="error"
                   th:if="${#fields.hasErrors('orderCreator')}"
                   th:errors="${o.orderCreator}">Validation error</p>
            </div>
            <br>
            <div class="input-group">
                <input type="text" class="form-control" name="orderItem"  value=""
                       placeholder="Order Item"
                       th:field="*{orderItem}">
                <p class="error"
                   th:if="${#fields.hasErrors('orderItem')}"
                   th:errors="${o.orderItem}">Validation error</p>
            </div>
            <br>
            <div class="input-group">
                <input type="text" class="form-control" name="itemPrice" value=""
                       placeholder="Item price"
                       th:field="*{itemPrice}">
                <p class="error"
                   th:if="${#fields.hasErrors('itemPrice')}"
                   th:errors="${o.itemPrice}">Validation error</p>
            </div>
            <input type="hidden" th:field="${o.groupOrder.group_order_id}">

            <br>
            <div id="timer"></div>
            <br>
            <!---->
            <div class="form-group">
                <div class="col-sm-12 controls" th:if="${(#dates.createNow().before(grouporder.order_timeout))}">
                    <button type="submit" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-log-in"></i>
                        Submit Order
                    </button>
                </div>
                <p th:if="${grouporder.order_timeout.before(#dates.createNow())}">Group order has expired</p>
            </div>

        </form>
    </div>

    <div class="row" id="orders">
        <table class="table table-bordered">
            <tr style="font-size: 13">
                <td>Creator</td>
                <td>Order Item</td>
                <td>Item Price</td>

            </tr>
            <tr th:each="order :  ${orders}">
                <td><p th:text="${order.orderCreator}"></p></td>
                <td><p th:text="${order.orderItem}"></p></td>
                <td><p th:text="${order.itemPrice}"></p></td>

            </tr>
        </table>
    </div>
</div>
<div class="container ">
    <div class="row">
        <div th:replace="fragments/footer :: footer"></div>
    </div>
</div>
<script>

    var endDate = new Date([[${grouporder.order_timeout}]]).getTime();
    var x = setInterval(function () {

        // Get todays date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = endDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Display the result in the element with id="demo"
        document.getElementById("timer").innerHTML = minutes + "m " + seconds + "s ";

        // If the count down is finished, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("timer").innerHTML = "EXPIRED";
        }
    }, 1000);
</script>

<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</body>
</html>