<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Details</title>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Home Page</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
        <div sec:authorize="isAnonymous()">
            <div th:replace="fragments/header :: header"></div>
        </div>
        <div sec:authorize="isAuthenticated()">
            <div th:replace="admin/header :: header"></div>
        </div>
</div>
<div class="jumbotron">
<div class="container">
    <div class="card">
        <div class="card-header text-center">
            <h3>Restaurant details for: </h3>
            <h1 th:utext="${onerest.name}">Name</h1>
        </div>
    </div>
    <br>

    <table class="table table-hover" th:object="${onerest}">

        <tbody>
        <tr> <th scope="row">Name:</th> <td th:utext="${onerest.name}">name</td> </tr>
        <tr> <th scope="row">Short Name:</th> <td  th:utext="${#strings.replace(onerest.name,' ','_')}">Short Name:</td> </tr>
        <tr> <th scope="row">Address:</th> <td th:utext="${onerest.address}">Address</td> </tr>
        <tr> <th scope="row">Phone:</th> <td th:utext="${onerest.phoneNumber}">Phone</td> </tr>
        <tr> <th scope="row">Link to Menu:</th> <td ><a th:href="@{'http://' + ${onerest.menuUrl}}" th:text="${onerest.menuUrl}">Menu Url</a></td> </tr>
        <tr> <th scope="row">Additional Charges:</th> <td th:utext="${onerest.additionalCharges}">Additional charges:</td> </tr>
        <tr> <th scope="row">Delivery Time:</th> <td th:utext="${onerest.deliveryTime}">Delivery time</td> </tr>
        <tr> <th scope="row">Delivery Info:</th> <td th:utext="${onerest.deliveryInfo}">Delivery Info</td> </tr>
        </tbody>
    </table>

    <div class="row mb-4">
        <div class="col-md-8">
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-secondary btn-block" href="#" th:href="@{'/createnewgrouporder?id=' + ${onerest.id}}">New group order</a>
        </div>
    </div>

</div>

</div>
<div class="container ">
        <div th:replace="fragments/footer :: footer"></div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>