<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Details</title>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Home Page</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div sec:authorize="isAnonymous()">
            <div th:replace="fragments/header :: header"></div>
        </div>
        <div sec:authorize="isAuthenticated()">
            <div th:replace="admin/header :: header"></div>
        </div>

    </div>
</div>
<br>
<br>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading text-center">Restoran</div>
        <div class="panel-body text-center">
            <h3>Porucujete iz restorana: </h3>
            <h1 th:utext="${onerest.name}">Name</h1>
        </div>
    </div>
    <div class="row col-lg-6 col-md-6"></div>
    <div class="row  col-lg-3 col-md-3" th:object="${onerest}">

        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Name:</label>
                <div class="col-sm-10">
                    <label class="col-sm-2 control-label" th:utext="${onerest.name}">Name</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Short Name:</label>
                <div class="col-sm-10">
                    <label class="col-sm-2 control-label"
                           th:utext="${#strings.replace(onerest.name,' ','_')}">Name</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Address:</label>
                <div class="col-sm-10">
                    <label class="col-sm-2 control-label" th:utext="${onerest.address}">Name</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Phone number:</label>
                <div class="col-sm-10">
                    <label class="col-sm-2 control-label" th:utext="${onerest.phoneNumber}">Name</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Menu URL: </label>
                <div class="col-sm-10">
                    <label class="col-sm-2 control-label" th:utext="${onerest.menuURL}">Name</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Additional charges: </label>
                <div class="col-sm-10">
                    <label class="col-sm-2 control-label" th:utext="${onerest.additionalCharges}">Name</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Delivery Time: </label>
                <div class="col-sm-10">
                    <label class="col-sm-2 control-label" th:utext="${onerest.deliveryTime}">Name</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Delivery Info: </label>
                <div class="col-sm-10">
                    <label class="col-sm-2 control-label" th:utext="${onerest.deliveryInfo}">Name</label>
                </div>
            </div>

        </form>
        <br>
    </div>
    <div class="row col-lg-3 col-md-3"></div>
</div>
<div class="container ">
    <div class="row">
        <div th:replace="fragments/footer :: footer"></div>
    </div>
</div>

</body>
</html>